html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.navbar .container {
    text-align: center;
}
.navbar-collapse .navbar-brand {
    display: inline-block;
    float: none;
    padding: 0;
    margin: 0 !important;
    overflow: visible;
}
.navbar-collapse .navbar-brand .white-circle {
    display: block;
    width: 161px;
    height: 161px;
    background-color: white;
    border-radius: 50%;
    border: 1px dotted red;
}
.navbar-collapse .navbar-brand .white-circle .logo {
    width: 144px;
}
.navbar-toggler .icon-bar {
    background-color: #888;
}
.navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.navbar-toggler .icon-bar + .icon-bar {
    margin-top: 4px;
}

/* change the background color */
.navbar-custom {
    background-color: #ff5500;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.8);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}
nav{
    text-align: center;
}

.navbar-nav .nav-item{
    float: inherit;
    display: inline-block;
}

/* Banier CSS */
#ks_banier {
    width:90%;
    margin:0;
}
#ks_kop {
    background:url(logoS.png) top left no-repeat #000000;
    height:28px;
    line-height:28px;
    font-size:12px;
    color:#FFFFFF;
    font-weight:bold;
    text-align:left;
    padding-left:34px;
}
#ks_inhoud {
    height:73px;
    background-color:#00769E;
    padding: 8px 8px 8px 8px;

}
#ks_score {
    float:left;
    width:28%;
    text-align:center;
    font-weight:bold;
}
#ks_scorekop, #ks_scoreinhoud, .ks_link {
    background-color:#FFFFFF;
    color:#000000;
}
#ks_scorekop {
    height:12px;
    line-height:12px;
    font-size:11px;
    margin-bottom:1px;
}
#ks_scoreinhoud {
    height:27px;
    line-height:27px;
    font-size:24px;
    color:#00769E;
}
#ks_scoresterren {
    color:#FFFFFF;
    font-weight:bold;
    font-size:26px;
}
#ks_scoresterren #ks_scoregedoofd {
    color:#00769E;
    text-shadow:0 0 2px #FFFFFF; /* Firefox 3.5+, Opera 9+, Safari 1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Glow(Color=,Strength=1); /* IE<10 */
}
.ks_link {
    display:block;
    width:50%;
    height:16px;
    line-height:16px;
    font-size:12px;
    color:#000000;
    text-decoration:none;
    margin: 0 8px 8px 0;
    float:right;
    padding:0 8px;
    position:relative;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    text-shadow:none;
    font-weight:normal;
}
.ks_link:hover {
    text-decoration:underline;
}
.ks_pijl {
    width: 0;
    height: 0;
    border-bottom: 8px solid transparent;  /* left arrow slant */
    border-top: 8px solid transparent; /* right arrow slant */
    border-left: 8px solid #000000; /* bottom, add background color here */
    font-size: 0;
    line-height: 0;
    position:absolute;
    right:-8px;
    top:0;
}
#ks_copyright {
    color:#FFFFFF;
    font-size:11px;
    font-style:italic;
    float:right;
    width:56%;
    margin-top:-4px;
}
.clear {
    clear:both;
}
