html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.navbar .container {
    text-align: center;
}
.navbar-collapse .navbar-brand {
    display: inline-block;
    float: none;
    padding: 0;
    margin: 0 !important;
    overflow: visible;
}
.navbar-collapse .navbar-brand .white-circle {
    display: block;
    width: 161px;
    height: 161px;
    background-color: white;
    border-radius: 50%;
    border: 1px dotted red;
}
.navbar-collapse .navbar-brand .white-circle .logo {
    width: 144px;
}
.navbar-toggler .icon-bar {
    background-color: #888;
}
.navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.navbar-toggler .icon-bar + .icon-bar {
    margin-top: 4px;
}
